*{

    margin: 0;
    padding: 0;
}

.container{

    padding: 2rem;
    padding-top: 10rem;
}

.Other{
    padding: 2rem;
    padding-top: 15rem;
}
.cardHeader {
    padding-top: 5rem;
    justify-content: center;
    text-align: center;
}
body{
    background-image: url(nature-colorful-landscape-dusk-cloud.jpg);
}